

<dom-module id="drawer">
  <template>
    <div id="drawer" class$={{ mainClasses }}">
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: "drawer",
    properties: {
      leftLocked: {
        type: Boolean,
        value: true
      },

      leftShow: {
        type: Boolean,
        value: false
      },

      rightLocked: {
        type: Boolean,
        value: true
      },

      rightShow: {
        type: Boolean,
        value: false
      },

      mobileMode:{
        type:Boolean,
        value:false,
      },

      tabletMode:{
        type:Boolean,
        value:false,
      },

      pcMode:{
        type:Boolean,
        value:false,
      },

      mainClasses: {
        type: String,
        computed: '_computeClasses(leftShow, rightShow, leftLocked, rightLocked, mobileMode, tabletMode, pcMode)'
      },

      drawerClasses:{
        type: String,
        value: "",
        reflectToAttribute: true,
        notify: true
      }
    },

    _computeClasses: (leftShow, rightShow, leftLocked, rightLocked,mobileMode,tabletMode,pcMode) => {
      const classStr = [];

      if (leftLocked)
        classStr.push('left-locked');

      if (leftShow)
        classStr.push('left-show');

      if (rightLocked)
        classStr.push('right-locked');

      if (rightShow)
        classStr.push('right-show');

      if (mobileMode)
        classStr.push('mobile-mode-main');

      if (tabletMode)
        classStr.push('tablet-mode-main');

      if (pcMode)
        classStr.push('pc-mode-main');

      this.drawerClasses = classStr.join(' ');
      return classStr.join(' ');
    },

    mobileModeCheck: ()=> {
      const self = this;
      self.async(() => {
        const el = self.$.drawer.querySelector("#main");
        if(el == null)
          return;

        const width = el.offsetWidth;
        if(width <= 500){
          self.mobileMode = true;
        } else {
          self.mobileMode = false;
        }

        if(width > 500 && width <= 800){
          self.tabletMode = true;

        } else {
          self.tabletMode = false;
        }

        if(width > 800) {
          self.pcMode = true;
        } else {
          self.pcMode = false;
        }
      },200);
    },

    toggleLeft: () => {
      this.rightShow = false;
      this.leftShow = !this.leftShow;
    },

    toggleRight: () => {
      this.leftShow = false;
      this.rightShow = !this.rightShow;
    },

    pinLeft: () => {
      this.leftLocked = !this.leftLocked;
      this.closeDrawers();
      this.mobileModeCheck();
    },

    pinRight: () => {
      this.rightLocked = !this.rightLocked;
      this.closeDrawers();
      this.mobileModeCheck();
    },

    closeDrawers: () =>{
      this.leftShow = false;
      this.rightShow = false;
    },

    ready: () => {
      const self = this;
      this.mobileModeCheck();

      window.addEventListener("resize",()=> {
        self.mobileModeCheck();
      });

      self.$.context.getData().addEventListener("data-updated-model.route", (event)=> {
        self.leftShow = false;
        self.rightShow = false;
      });
    }
  });

</script>