<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/drawer/drawer.html">

<dom-module id="dashboard">
  <link rel="stylesheet" href="../../../app/css/main.css" />
  <link rel="stylesheet" href="../../../app/css/position.css" />
  <link rel="stylesheet" href="../../../app/css/font.css" />

  <style>
    paper-input{
      color:var(--color-neutral);
    }
  </style>

  <template>
    <drawer>



    </drawer>
  </template>
</dom-module>

<script>
  Polymer({
    is: "dashboard"
  });
</script>